
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/.idea/.idea.VKApi/.idea/.name
/.idea/.idea.VKApi/.idea/contentModel.xml
/.idea/.idea.VKApi/.idea/indexLayout.xml
/.idea/.idea.VKApi/.idea/modules.xml
/.idea/.idea.VKApi/.idea/vcs.xml
/.idea/.idea.VKApi/.idea/workspace.xml
/.idea/.idea.VKApi/riderModule.iml
/VKApi.Blacklister/PrivateSettings.config
/VKApi.LikeClicker/PrivateSettings.config
