<?xml version="1.0" encoding="utf-8"?>

<appSettings>
    <add key="InstUserName" value="index.out.of.range" />
    <add key="InstPassword" value="Kludgekludge1" />

    <add key="Account" value="ApplicationId:6888115,Login:89135528244,Password:Kludgekludge3" />
    <add key="FakeAccount" value="ApplicationId:7310730,Login:+77056922098,Password:Kludgekludge2" />
</appSettings>