<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ApplicationId" value="6482660" />
    <add key="Login" value="89135528244" />
    <add key="Password" value="Kludgekludge1" />
  </appSettings>
</configuration>