<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApplicationId" value="6751979" />
    <add key="Login" value="89135528244" />
    <add key="Password" value="Kludgekludge2" />
    <add key="GroupName" value="poisk_krk" />
    <add key="PostsCountToAnalyze" value="1000" />
    <add key="CitiesString" value="красноярск" />
    <add key="ProfilePhotosToLike" value="1" />
    <add key="MinAge" value="18" />
    <add key="MaxAge" value="30" />
    <add key="Strategy" value="PostsLikers" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>