<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ApplicationId" value="6483576" />
    <add key="Login" value="89135528244" />
    <add key="Password" value="Kludgekludge1" />
    <add key="SearchPhrase" value="козлы красноярск" />
    <add key="Wait" value="23" />
    <add key="City" value="красноярск" />
    <add key="OlderFirst" value="true" />
    <add key="idsToExclude" value="" />
    <add key="secondsToSleepAfterOwnerIdIsincorrect" value="1" />
    <add key="secondsToSleepAfterOtherExceptions" value="1" />
    <add key="hoursToSleepAfterFloodControl" value="4" />
    <add key="groupSearchCount" value="1000" />
    <add key="reverseTotalList" value="true" />
  </appSettings>
</configuration>