<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Account" value="ApplicationId:6888115,Login:89135528244,Password:Kludgekludge17" />
  <add key="FakeAccount" value="ApplicationId:7310730,Login:+77056922098,Password:Kludgekludge2" />
  <add key="BlacklistMembersOfChatId" value="[2000000002]" />
  <add key="BlackListGroupIds" value="[75118885]" />
</appSettings>